
body, html {
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	height: 100%;
	text-transform: lowercase;
}

.usercommentimage {
  background-image: url('https://www.pngfind.com/pngs/m/63-637582_cooking-icon-png-chef-logo-silhouette-png-transparent.png');
}

#homeicon{
  font-size: 150%;
  font-weight: bolder;
}

.deletetag {
color: red;

}

h1{
  font-size: 200%;
	font-weight: bolder;
	color: black;
}


.card {
  background-color: whitesmoke;
	-webkit-animation: flip-in-ver-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes card {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}



a.subtitle{
  font-size: 100%;
}


.Toastify__toast-body {
  padding-left: 10px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
.Toastify__toast {
  border-radius: 2px;
}


.Links {
	text-decoration: none;
	color: black;
	font-size: 20px;
}


.title, .subtitle {
	color: rgb(0, 0, 0);
	font-size: 100px;
}



input {
	width: 200px;
	height: 20px; 
	border: 2px solid black;
	font-weight: 100;
	padding: 10px; 
	text-align: center;
}

.below-hero {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	justify-content: space-around;
}

.second-below-hero {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	justify-content: space-around;
	background-image: url('https://i.pinimg.com/originals/f0/19/d3/f019d3ef77077e3c9d1c0624918a28c8.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.box {
	height: 250px;
	width: 450px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white; 
	font-weight: 800;
	border-radius: 0%;
}

#inner-border {
		outline: 3px solid white;
		outline-offset: -30px;
}

.box:not(:last-child) {
	margin: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dataImage {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 750px;
	opacity: 80%;
}


.title:not(:last-child) {
	margin: 0; 
}

.card-content, h2 {
	font-weight: 700;
	color: black;
}

//------profile-text-------

.headers {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.titlecontain {
  padding: 0.8rem;
}

.pro-title {
  font-size: 3rem;
  font-weight: bold;
}

.pro-subtitle {
  font-size: 1.8rem;
  // font-weight: bold;
}

.pro-link {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.tag {
  margin: 10px;
}


//------cards-----

.card {
  height: 80%;
  display:flex;
  flex-direction: column;
}

.cart-footer {
  margin-top: auto;
}

.fav-image {
  padding: 10px;
}

.fav-title {
  font-size: 1.4rem;
  color: rgb(207, 144, 7);
  padding-top: 0
}

.fav-link {
  font-size: 1.4rem;
  color: rgb(207, 144, 7);
  padding-top: 0
}

.fav-title-recipe {
  font-size: 1rem;
  color: rgb(207, 144, 7);
  padding-top: 0 
}

.fav-sub {
  text-align: center;
  font-size: 0.7rem;
  padding: 0px 10px;
}



.card {
  padding: 20px;
  margin: 20px;
}

.card-footer-item {
  color: red;
  font-size: 0.7rem;
}

.single-parallax {
	width: 100%; 
	height: 130vh; 
	background-image: url('../src/images/newbgwhite.png');
	background-size: cover;
}

.content-div {
	width: 100%; 
	margin-top: 100px;
	display: flex; 
	justify-content: center;
	align-items: center;
	background-image: url('../src/images/bg2.png');
	background-size: cover; 
	height: 700px; 
	background-repeat: no-repeat;
}

.headline {
	font-size: 220px; 
	position: fixed; 
	top:5vh; 
	width: 100%;
	text-align: center; 
	color: black;
	text-shadow: 1px 1px 10px black;
	font-weight: 900;
}

.mask {
	mask: url('../src/images/masked.png');
	mask-size: cover; 
	-webkit-mask:url('../src/images/masked.png');
	-webkit-mask-size:cover;
	height: 100%;
	margin-top: 50px;
}

#restaurant-single-card {
	align-items: center;
}

#inner-border-card {
		outline: 3px solid black; 
		outline-offset: -30px;
		height: 300px;
}

.section {
	padding: 0; 
}

#location {
	margin-top: 10px; 
}

#filter-form {
	margin: 50px 0 0 20px;
	width: 800px;
	background-color: black;
}


#newform {
	background-color: black; 
	color: white;
	width: 500px;
	margin-top: 80px;
	padding: 20px; 
}

#editpro {
	background-color: black; 
	color: white;
	width: 500px;
	margin-top: 80px;
	padding: 20px; 
}

#loginPage {
	background-image: url('../src/images/champagne.png');
	background-size: cover;
	background-position: center;
	width: 100%; 
	height: 100vh;
}

.label {
	font-family: monospace;
}

#single-recipe-page {
	background-image: url('../src/images/bgImage.png');
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

//---------singlerecipe-image------//

#single {
  padding-top: 0;
}

//---------singlerecipe-image------//

#newRecipe {
	background-image: url('../src/images/new-recipe.png');
	background-position: center;
	background-size: 150vh;
	background-repeat: no-repeat;
}

.restaurants {
	background-image: url('../src/images/ivy.png');
	background-position: center;
	background-repeat: no-repeat
}

.recipes {
	background-image: url('../src/images/ivy.png');
	background-position: center;
}

a {
	text-decoration: none; 
	color: black
}

.comment-dir {
  text-align: center;
  padding: 1rem;
  font-size: 26px;
}


