
body, html {
	font-family: 'Anton', sans-serif;
	width: 100%;
	height: 100%;
	text-transform: lowercase;
}

.usercommentimage {
  background-image: url('https://www.pngfind.com/pngs/m/63-637582_cooking-icon-png-chef-logo-silhouette-png-transparent.png');
}

.deletetag {
color: red;

}

.Links {
	text-decoration: none;
	color: black;
	font-size: 20px;
}


.title, .subtitle {
	color: rgb(207, 144, 7);
}

.container {
	margin-left: 300px;
}


.restaurants {
	background-image: url('../src/images/proj3-2.png');
	min-width: 70%;
	min-height: 70%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.card {
	width: 75%;
	height: 75%; 
	margin-left: 100px;
}


input {
	width: 200px;
	height: 20px; 
	font-family: 'Anton', sans-serif;
	border: 2px solid black;
	font-weight: 100;
	padding: 10px; 
	text-align: center;
}

//------cards-----

.card {
  height: 80%;
  display:flex;
  flex-direction: column;
}

.cart-footer {
  margin-top: auto;
}

.fav-image {
  padding: 10px;
}

.fav-title {
  font-size: 1.4rem;
  color: rgb(207, 144, 7);
  padding-top: 0
}

.fav-link {
  font-size: 1.4rem;
  color: rgb(207, 144, 7);
  padding-top: 0
}

.fav-title-recipe {
  font-size: 1rem;
  color: rgb(207, 144, 7);
  padding-top: 0 
}

.fav-sub {
  text-align: center;
  font-size: 0.7rem;
  padding: 0px 10px;
}

.container {
  padding: 20px 0px;
  margin: 20px 0px;
}

.card {
  padding: 20px;
  margin: 20px;
}

.card-footer-item {
  color: red;
  font-size: 0.7rem;
}

